body{
  background-color: #2F383F;
  color: #FC9A37;
  font-family: 'Source Sans Pro', sans-serif;;
}
.page-container{
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  .page-header{
    margin-bottom: 30px;
    text-align: center;
    h1,h3{
      margin: 0;
    }
    h1{
      font-size: 46px;
      text-transform: uppercase;
    }
  }
}

.rel{
  position: relative;
}
.full-link{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.float_r{
  float: right;
}
@import "frontpage";
@import "global";
@import "division";